---
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search.tsx";

async function loadData() {
    const response = await fetch(`${import.meta.env.LOCATIONS_ROWS_BASE_URL}`, {
        headers: {
            Authorization: `Token ${import.meta.env.API_KEY}`,
        },
    });
    const data = await response.json();
    // console.log(data);
    return data;
}

async function loadHeaders() {
    const response = await fetch(
        `${import.meta.env.LOCATIONS_FIELDS_BASE_URL}`,
        {
            headers: {
                Authorization: `Token ${import.meta.env.API_KEY}`,
            },
        },
    );
    const data = await response.json();
    return data;
}

const { results } = await loadData();
const headers = await loadHeaders();
// console.log(results.length);
// console.log(headers);
---

<Layout title="Interest.">
    <main class="mt-8 max-w-[90%] m-auto">
		<Search client:load results={results}/>
        <div class="overflow-x-auto">
            <table class="table w-full">
                {/* head */}
                <thead>
                    <tr>
						{headers.map((header) => (
							<th key={header.id} class='px-8 w-[80px] m-auto text-yellow-500 text-2xl text-center'>{header.name}</th>
						)
						)}
                    </tr>
                </thead>
                <tbody>
                    {/* row 1 */}
					{results.map((result) => (
						<tr class="mt-4 text-xl text-slate-600 hover:bg-slate-600 hover:text-slate-100">
                        	<td class='text-center w-[40px]'>{result.Name}</td>
                        	<td class='text-center max-w-10 overflow-x-auto hover:text-white font-bold'><a href=`${result.Location}` target='_blank'>Map</a></td>
                        	<td class='text-center w-[40px]'>{result.Type}</td>
                        	<td class='text-center w-[40px]'>{result.Rating}</td>
                        	<td class='text-center w-[40px]'>{result.City}</td>
                        	<td class='text-center w-[40px]'>{result.Country}</td>
                    	</tr>
					))}
                </tbody>
            </table>
        </div>
    </main>
</Layout>
